/* Nav Bar Styling */
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float: none;
}

.navbar-dark .navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

.btn {
  width: 100%;
  margin: 5px;
}
